
.icon-paw:before { content: '\e800'; } /* '' */
.icon-gamepad:before { content: '\e801'; } /* '' */
.icon-music:before { content: '\e802'; } /* '' */
.icon-steering-wheel:before { content: '\e803'; } /* '' */
.icon-pencil:before { content: '\e804'; } /* '' */